html {
  font-size: 14px;
}

html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background: #F2F3F3;
}

.page-wrapper {
  background: #F2F3F3;
}

.top-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  height: 50px;
  border-bottom: 1px solid #D6D6D6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  z-index: 200;
}

.top-navigation #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.top-navigation #logo img {
  width: 30px;
}

.top-navigation #logo h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #202428;
  margin-left: 10px;
  -webkit-animation: slide-up-light 1s ease;
          animation: slide-up-light 1s ease;
  display: none;
}

.top-navigation #logo h4 span {
  color: #F86C5C;
}

.top-navigation #logo h4.show {
  display: block;
}

.top-navigation #logo h4.static {
  -webkit-animation: none;
          animation: none;
  display: block;
}

.top-navigation #nav-items li {
  list-style: none;
  display: inline-block;
}

.top-navigation #nav-items li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #0C1023;
  margin: 0 16px;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
}

.top-navigation #nav-items li a:hover {
  opacity: 0.8;
}

.top-navigation #nav-items li.active a {
  color: #F86C5C;
}

.header-container {
  padding-top: 50px;
  padding-left: 9%;
  padding-right: 9%;
}

.header-container .heading {
  position: relative;
}

.header-container .heading h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 5rem;
  color: #202428;
  margin-bottom: 0;
}

.header-container .heading h1 span {
  color: #F86C5C;
}

.header-container .heading .social-media {
  position: absolute;
  right: 1%;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .heading .social-media span {
  font-size: 1rem;
  font-weight: 400;
  color: #202428;
  display: inline-block;
  margin-right: 10px;
}

.header-container .heading .social-media a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #202428;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 4px;
}

.header-container .heading .social-media a img {
  width: 60%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.header-container .heading .social-media .twitter:hover {
  background: #00acee;
}

.header-container .heading .social-media .twitter:hover img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.header-container .heading .social-media .fb:hover {
  background: #3b5998;
}

.header-container .heading .social-media .fb:hover img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.header-container h3 {
  font-size: 1.6rem;
  color: #202428;
}

.header-container .additional-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-container .additional-info h4 {
  color: #A8A8A8;
  display: inline-block;
  margin-right: 10px;
}

.header-container .additional-info a {
  display: inline-block;
  position: relative;
  top: 15px;
  margin-left: 8px;
  cursor: pointer;
}

.header-container .additional-info a img {
  width: 24px;
}

.about-wrapper {
  margin: 0 auto;
  width: 60%;
  margin-top: 80px;
}

.about-wrapper h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.6rem;
  color: #202428;
  text-align: center;
}

.about-wrapper h1 span {
  color: #F86C5C;
}

.about-wrapper .info-container {
  background: white;
  border-radius: 8px;
  -webkit-box-shadow: 0 40px 100px -20px rgba(11, 16, 38, 0.075), 0 30px 70px -30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 40px 100px -20px rgba(11, 16, 38, 0.075), 0 30px 70px -30px rgba(0, 0, 0, 0.05);
  -webkit-animation: slide-up 1s ease;
          animation: slide-up 1s ease;
  line-height: 24px;
  letter-spacing: 0.7px;
  padding: 32px;
}

.about-wrapper .info-container .story {
  color: #202428;
  font-size: 1rem;
  text-align: center;
}

.about-wrapper .info-container .note {
  color: #A8A8A8;
  font-size: 1rem;
  text-align: center;
  margin: 0 20px;
  margin-top: 32px;
}

.about-wrapper .info-container .note a {
  cursor: pointer;
  text-decoration: underline;
  color: #A8A8A8;
}

.about-wrapper .info-container .highlight {
  color: #F86C5C;
  font-size: 1rem;
  text-align: center;
  margin: 0 20px;
  margin-top: 32px;
}

.about-wrapper .info-container .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-wrapper .info-container .icons a {
  display: inline-block;
  margin: 8px;
  margin-top: 16px;
  cursor: pointer;
}

.about-wrapper .info-container .icons a img {
  width: 32px;
}

.about-wrapper .info-container .buymeacoffee {
  text-align: center;
}

.about-wrapper .info-container .buymeacoffee .note {
  color: #202428;
  margin-top: 16px;
  margin-bottom: 16px;
}

.image-container {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 8%;
  padding-right: 8%;
  max-width: 1500px;
  margin: 0 auto;
}

.image-container .item {
  display: inline-block;
  width: 20.9%;
  margin: 1%;
  margin-bottom: 1.2%;
  padding: 10px;
  background: white;
  border-radius: 8px;
  -webkit-box-shadow: 0 40px 100px -20px rgba(11, 16, 38, 0.075), 0 30px 70px -30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 40px 100px -20px rgba(11, 16, 38, 0.075), 0 30px 70px -30px rgba(0, 0, 0, 0.05);
  -webkit-animation: slide-up 1s ease;
          animation: slide-up 1s ease;
  position: relative;
}

.image-container .item img {
  width: 100%;
  border-radius: 8px;
}

.image-container .item .color-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 30px;
}

.image-container .item .color-panel .color {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #F2F3F3;
  cursor: pointer;
  position: relative;
  -webkit-animation: scale 1.5s ease;
          animation: scale 1.5s ease;
}

.image-container .item .color-panel .color .tooltip {
  background: #202428;
  color: white;
  border-radius: 4px;
  position: absolute;
  bottom: -35px;
  z-index: 100;
  margin: 0 auto;
  display: none;
}

.image-container .item .color-panel .color .tooltip span {
  display: inline-block;
  margin: 4px;
  font-size: 1rem;
}

.image-container .item .color-panel .color:hover .tooltip {
  display: block;
}

.image-container .item .favourite {
  width: 32px;
  height: 32px;
  background: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 16px;
  top: 16px;
  display: none;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.image-container .item .favourite svg {
  width: 16px;
  height: 16px;
}

.image-container .item .favourite.added svg path {
  fill: #F86C5C;
}

.image-container .item .close svg {
  width: 12px;
  height: 12px;
}

.image-container .item:hover .favourite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
  text-align: center;
  padding-left: 50px;
  position: relative;
  bottom: 40px;
}

#empty-favourites-page {
  text-align: center;
  margin: 0 auto;
}

#empty-favourites-page img {
  width: 25%;
}

#empty-favourites-page .message {
  font-size: 1.2rem;
  font-weight: 600;
  color: #202428;
  width: 50%;
  margin: 0 auto;
  margin-top: -20px;
}

#empty-favourites-page .info {
  font-size: 0.9rem;
  font-weight: 400;
  color: #A8A8A8;
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}

footer h4 {
  text-align: center;
  font-size: 1rem;
  color: #A8A8A8;
  font-weight: 400;
}

footer h4 a {
  cursor: pointer;
  text-decoration: underline;
  color: #A8A8A8;
}

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slide-up-light {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-up-light {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 1150px) {
  .image-container .item {
    width: 29%;
  }
}

@media (max-width: 1036px) {
  .image-container .item {
    width: 28.6%;
  }
}

@media (max-width: 886px) {
  html {
    font-size: 13px;
  }
  .image-container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .image-container .item {
    width: calc(50% - 30px);
    margin: 5px;
    margin-bottom: 10px;
  }
}

@media (max-width: 740px) {
  .header-container .heading .social-media {
    display: none;
  }
  .about-wrapper {
    width: 80%;
    margin-bottom: 50px;
  }
}

@media (max-width: 580px) {
  .image-container .item .color-panel {
    padding: 10px 16px;
  }
  .image-container .item .color-panel .color {
    width: 20px;
    height: 20px;
  }
  .header-container .additional-info a img {
    display: none;
  }
  #empty-favourites-page img {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .top-navigation #logo h4.static {
    display: none;
  }
  .image-container .item {
    width: calc(100% - 30px);
  }
  .image-container .item .color-panel {
    padding: 12px 20px;
  }
  .image-container .item .color-panel .color {
    width: 24px;
    height: 24px;
  }
  .header-container .heading h1 {
    font-size: 4rem;
  }
  .header-container h3 {
    font-size: 1.4rem;
  }
}

@media (max-width: 380px) {
  .top-navigation #nav-items li a {
    margin: 0 8px;
  }
  .top-navigation #logo img {
    width: 24px;
  }
  .image-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .image-container .item {
    width: calc(100% - 30px);
  }
  .image-container .item .color-panel {
    padding: 10px 16px;
  }
  .image-container .item .color-panel .color {
    width: 20px;
    height: 20px;
  }
  .header-container .heading h1 {
    font-size: 3rem;
  }
  .header-container h3 {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=style.css.map */